@model IEnumerable<BasketballForum.Models.Discussion>
@{
    ViewData["Title"] = "Home Page";
    var discussionCount = Model.Count(); 
}

<div class="container mt-2">

    <div class="d-flex justify-content-start align-items-center mb-4 gap-2">
        <h5 class="display-6">Discussions Board</h5> 
        <i class="fa-solid fa-chevron-right"></i>
    </div>

    <!-- Discussion Cards -->
    <div class="row justify-content-center">
        @foreach (var item in Model)
        {
            <div class="col-md-8 mb-4">
                <div class="card shadow-lg border-0 rounded-3">
                    <div class="card-body d-flex align-items-center">
                        <div class="flex-grow-1 d-flex flex-column justify-content-between">
                            <h5 class="card-title fw-semibold">
                                <a asp-action="GetDiscussion" asp-controller="Home" asp-route-id="@item.DiscussionId" class="text-decoration-none text-primary">
                                    @item.Title
                                </a>
                   
                            </h5>
                            <p class="text-muted small">Created on: @item.CreateDate.ToString("MMMM dd, yyyy")</p>
                            <div class="card-footer bg-transparent border-0 p-0 d-flex">
                                <p class="text-muted">@item.CommentsCount <i class="fa-regular fa-comment"></i></p>
                            </div>
                           
                        </div>

                        @if (!string.IsNullOrEmpty(item.ImageFilename))
                        {
                            <div class="ms-md-3 mb-3 mb-md-0" style="flex-shrink: 0; width: 120px;">
                                <img src="~/images/@item.ImageFilename" class="img-fluid rounded" alt="" style="width: 100%; height: auto; object-fit: cover;" />
                            </div>
                        }
                        
                    </div>
                </div>
            </div>
        }
    </div>

</div>