@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="d-flex justify-content-center align-items-start vh-100 ">
    <div class="card shadow-sm p-4 mt-4" style="width: 100%; max-width: 400px;">
        <h1 class="text-center mb-2" style="font-size: 2rem; color: #333;">@ViewData["Title"]</h1>
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

                <div class=" mb-3">
                    <label asp-for="Input.Email" class="form-label text-muted">Email</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" style="border-radius: 5px; padding: 10px;" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class=" mb-3">
                    <label asp-for="Input.Password" class="form-label text-muted">Password</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" style="border-radius: 5px; padding: 10px;" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    <label class="form-check-label text-muted" asp-for="Input.RememberMe">
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>

                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary mb-3" style="border-radius: 5px; padding: 10px; font-size: 1rem;">Log in</button>

                <div class="text-center">
                    <p class="mb-2">
                        <a id="forgot-password" asp-page="./ForgotPassword" class="text-decoration-none" style="color: #007bff;">Forgot your password?</a>
                    </p>
                    <p class="mb-2">
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-decoration-none" style="color: #007bff;">Register as a new user</a>
                    </p>
                    <p class="mb-0">
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="text-decoration-none" style="color: #007bff;">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}